

.container,
.container-fluid {
  max-width: 900px;
}
#title { 
    font-family: 'Roboto Slab', Arial, serif;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 22px;
    padding-top:18px;
    padding-bottom:28px;
    text-align: center;
    color: white;
    background-color: rgb(212, 27, 103);
}

input[type='checkbox'] {
    scale: 2.3;
      margin-right: 21px;
}

#a6, #b6, #c6, #d6, #e6, #f6, #g6, #h6, #i6, #j6 {
      margin-right: 5px;
  }
#btns-top-row-div {
    padding-bottom:18px;
}
#btns-btm-row-div {
    padding-bottom:18px;
}
.viewdivwrapper {
        padding-top: 25px;
        padding-bottom: 25px;
     }
.display3rem {
  font-size: 1.75rem;
}

