

#title {
    color: white;
    background-color: rgb(255, 0, 102);
}

input[type] {
    scale: 2.3;
      margin-right: 21px;
}
#a6, #b6, #c6, #d6, #e6, #f6, #g6, #h6, #i6, #j6 {
      margin-right: 5px;
  }
#btns-top-row-div {
    padding-bottom:18px;
}
#btns-btm-row-div {
    padding-bottom:18px;
}

